<table width="100%">
  <tr>
    <td width="50%">
      <strong>Sort:</strong>
      <%= link_to "Discount", "#", class: "btn btn-success btn-sm" %>
      <%= link_to "Price", "#", class: "btn btn-success btn-sm" %>
      <%= link_to "Name", "#", class: "btn btn-success btn-sm" %>
    </td>
    <td width="50%">
      <strong>View:</strong>
      <%= link_to "Grid", "#", class: "btn btn-info btn-sm" %>
      <%= link_to "List", "#", class: "btn btn-info btn-sm" %>
    </td>
  </tr>
</table>

<table width="100%">
<% for count in (1..10) %>
  <tr>
    <% for count in (1..3) %>
    <td width="33%" class="btn">
	<%= content_tag :div, image_tag(asset_path("item.gif")) %>
	<div style="text-align:left">
	  <div style="font-weight:bold;font-size:200%;">
	    PRODUCT NAME
	  </div>
	  <div style="font-weight:bold;color:green;font-size:250%;">
	    <span style="color:green">$1</span>
	    <sup><span style="font-size:50%">.00</span></sup>
	  </div>
	  <div style="font-weight:bold;font-style:italic">
	    Discount:
	    <span style="color:green">25%</span>
	  </div>
	  <div style="font-weight:bold;font-style:italic">
	    Shipping:
	    <span style="color:green">Free!</span>
	  </div>
	  <div style="font-weight:bold">
	    <center>
	      <%= link_to "BUY", "#", class: "btn btn-success btn-lg", style: "width:100%" %>
	    </center>
	  </div>
	</div>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<table width="100%" style="padding:10px">
  <tr>
    <td width="33%">
      <strong>Page:</strong>
      <%= link_to "First", "#", class: "btn btn-info btn-sm" %>
    </td>
    <td width="33%" style="text-align:center">
      <%= link_to "1", "#", class: "btn btn-success btn" %>
    </td>
    <td width="33%" style="text-align:right">
      <%= link_to "2", "#", class: "btn btn-info btn-sm" %>
      <%= link_to "3", "#", class: "btn btn-info btn-sm" %>
      <%= link_to "Last", "#", class: "btn btn-info btn-sm" %>
    </td>
  </tr>
</table>


